<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Our Founder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    </head>
    <body>
        <div>
            <ul class="ul-nav">
                <li class="li-nav"><a href="../index.html">Home Page</a></li>
                <li class="li-nav"><a href="page_2.html">What We've Done</a></li>
                <li class="li-nav"><a href="page_3.html">About Our Founder</a></li>
            </ul>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="../src/script.js"></script>
        <section class="section_top">
            <h1>
                About Our Founder
            </h1>
        </section>
        
        <section class="section_content">
            <div class="container reveal">
            <p>
                Our founder, Dr. Maria Rodriguez, has always been passionate about immunology 
                and the role it plays in human health. Growing up, she watched her older sister 
                struggle with a severe autoimmune disorder and was inspired to learn more about 
                the immune system and how it can go awry.
                <br>
                <br>
                As a young scientist, Dr. Rodriguez dedicated herself to studying immunology and 
                worked tirelessly to gain a deep understanding of the complex processes involved. 
                She eventually earned her PhD in Immunology and went on to work at several top 
                research institutions, making significant contributions to the field.
                <br>
                <br>
                But Dr. Rodriguez always felt that she could do more to help people suffering from 
                immunological disorders. She wanted to bring new treatments to the market as quickly 
                as possible and make a real difference in people's lives. That's why she decided to start 
                Utari Industries – a company dedicated to improving human health through cutting-edge 
                immunology research and development.
                <br>
                <br>
                Dr. Rodriguez's tireless dedication to the field and her commitment to helping others 
                is what drives Utari Industries forward. We are proud to be making a positive impact on 
                human health under her leadership.
            </p>
            </div>
            <div class="container reveal">
                <figure>
                <img src="../assets/Maria_Rodriguez.jpg">
                <figcaption>Dr. Maria Rodriguez</figcaption>
                </figure>
            </div>
        </section>

        <button id="scroll-to-top-button">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
            </svg>
        </button>

        <div class="address-div">
            <span class="hover-address" data-hover="
                Wyatt Garrioch
                123 MyWay Street
                780-921-2937
                admin@gmail.com">
                Contact Info
            </span>
        </div>
        <div class="address-div">
            <br>
            <br>
            <br>
        </div>
    </body>
</html>