body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(158,158,215,1) 53%, rgba(0,212,255,1) 100%);
    color: white;
}

p {
    color: white;
}

div {
    justify-content: center;
}




.fjaiog {
    font: bo;
}